:root {
  --color-label: #6d6d6d;
  --color-text: #a8a8a8;
  --color-focus: #228be6;
  --color-pill: #d9d9d9;
}
.label {
  @apply text-[var(--color-label)] font-medium text-[15px] leading-[18px];
}
.input {
  @apply border border-[var(--color-text)] rounded-lg focus:border-[var(--color-focus)];
}
.input::placeholder {
  @apply text-[var(--color-text)] font-medium text-base;
}
.pill {
  @apply bg-[var(--color-pill)] text-[var(--color-label)];
}
