:root {
  --color-error: #ff4b34;
  --color-label: #6d6d6d;
  --color-placeholder: #a8a8a8;
  --color-border: #cccccc;
  --color-focus: #559cda;
  --color-bg-button: #ed8028;
  --color-icon: #ffff;
  --color-bg-disabled-field: #eeeeee;
  --color-input-bg: #ffff;
}

.groupField {
  @apply relative flex flex-col gap-2;
}
.label {
  @apply text-[var(--color-label)] text-xl font-normal;
}
.span {
  @apply text-[var(--color-error)];
}
.inputContainer {
  @apply flex;
}
.inputField {
  @apply w-full border border-[var(--color-border)] rounded-lg p-[16px] text-[var(--color-placeholder)] text-xl font-normal outline-[var(--color-focus)];
}
.enableField {
  @apply bg-[var(--color-input-bg)];
}
.disabledField {
  @apply bg-[var(--color-bg-disabled-field)];
}

.inputButton {
  @apply absolute right-0 flex justify-center items-center  bg-[var(--color-bg-button)] rounded-lg w-[62px] h-[62px];
}
.inputIcon {
  @apply text-[var(--color-icon)];
}
.errorMessage {
  @apply text-[var(--color-error)] text-base font-normal;
}
.inputFieldError {
  @apply border border-[var(--color-error)];
}
