:root {
  --color-label: #6d6d6d;
  --color-border: #a8a8a8;
  --color-placeholder: #6d6d6d99;
  --color-focus: #228be6;
  --color-header: #559cda;
}
.label {
  @apply text-[var(--color-label)] font-medium text-[15px] leading-[18px];
}
.labelHeder {
  @apply text-[var(--color-header)] font-bold mb-2;
}
.input {
  @apply border border-[var(--color-border)] rounded-lg p-4 gap-[10px] focus:border-[var(--color-focus)];
}

.input::placeholder {
  @apply text-[var(--color-placeholder)] font-medium text-base;
}
