:root {
  --label: #6d6d6d;
  --border: #a8a8a8;
  --placeholder: #6d6d6d99;
  --focus: #228be6;
  --header: #559cda;
  --placeholder: #b9c0c7;
}
.label {
  @apply text-[--label] font-light text-base leading-[18px] mb-2;
}
.labelHeder {
  @apply text-[--header] font-bold mb-2;
}
.input {
  @apply border border-[--border] rounded-lg focus:border-[--focus] text-lg;
}

.input::placeholder {
  @apply text-[--placeholder] font-normal;
}
