.active {
  @apply pt-1 pb-1 px-5 bg-white rounded-md text-blue-500 font-medium;
}
.inactive {
  @apply pt-1 pb-1 px-5 text-white font-medium;
}

.activeLink {
  text-align: center;
  width: 6rem;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  color: #559cda;
  font-weight: 500;
}
.inactiveLink {
  text-align: center;
  width: 6rem;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
}
