.unselectedLeaveType {
  background-color: #deecff;
  color: #559cda;
  @apply cursor-pointer h-28 w-full  flex  text-center justify-center items-center shadow-md shadow-blue-300 rounded-lg m-1 gap-6;
}

.selectedLeaveType {
  background-color: #559cda;
  color: white;
  @apply cursor-pointer h-28 w-full  flex   text-center justify-center items-center shadow-md shadow-blue-300 rounded-lg m-1 gap-6;
}
