.fc-toolbar-chunk button.fc-today-button.fc-button.fc-button-primary:focus,
.fc-toolbar-chunk .fc-button-group button.fc-next-button.fc-button:focus,
.fc-toolbar-chunk .fc-button-group button.fc-prev-button.fc-button:focus {
  outline: none;
  box-shadow: none;
}

/* Added Button on Today Btn */
.fc--button.fc-button.fc-button-primary {
  display: none;
}

.fc .fc-view-harness.fc-view-harness-active .fc-dayGridMonth-view.fc-view.fc-daygrid .fc-view table[role="grid"] {
  border-spacing: 20px;
  border: none;
}
.fc .fc-view-harness .fc-view table[role="grid"] thead[role="rowgroup"] tr th {
  padding: 5px 0px 5px 0px;
  font-weight: 600;
  color: #6d6d6d;
  border: none;
  background-color: #deecff;
}

.fc .fc .fc-view-harness .fc-view table[role="grid"] tbody[role="rowgroup"] td {
  border: 1px solid #6d6d6d !important;
}

table[role="presentation"] tbody[role="presentation"] tr[role="row"] td[role="gridcell"] .fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  cursor: pointer;
}

table[role="presentation"]
  tbody[role="presentation"]
  tr[role="row"]
  td[role="gridcell"]
  .fc-daygrid-day-frame.fc-scrollgrid-sync-inner
  .fc-daygrid-day-top
  a.fc-daygrid-day-number {
  color: #6d6d6d;
}

table[role="grid"] {
  border-collapse: separate;
  border-spacing: 0;
}

.custom-all-day {
  background-color: #eef7ff;
  color: #0066cc;
  font-weight: bold;
}
.custom-event {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border: none;
}

input.emp-select::placeholder {
  @apply text-[#559cda] font-bold;
}

/* Table Month View Design */
table[role="grid"].fc-scrollgrid.fc-scrollgrid-liquid {
  @apply rounded-lg;
}

.fc-header-toolbar.fc-toolbar {
  @apply flex flex-col md:flex-row;
}

/* Table Header Today, Prev and Next Button */
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk .fc-button-group button.fc-prev-button,
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk .fc-button-group button.fc-next-button {
  @apply bg-white text-[#6d6d6d] capitalize font-semibold border-[#969696] px-4 py-1.5 rounded-md text-sm;
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk .fc-button-group button.fc-today-button:disabled {
  @apply text-[#6d6d6d] border-[#969696];
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk .fc-button-group button.fc-today-button {
  @apply bg-white text-[#969696] capitalize font-semibold border-[#6d6d6d] px-4 py-1.5   rounded-md text-sm;
}

.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk .fc-button-group {
  @apply gap-2;
}

.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:nth-child(2) {
  @apply flex flex-row items-center;
}

.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk button.fc-filter-button.fc-button.fc-button-primary {
  border: none;
  @apply focus:outline-none focus:ring-0 font-semibold uppercase bg-transparent text-[#6d6d6d] rotate-90 cursor-pointer;
}

.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk .fc-toolbar-title {
  @apply text-[20px] text-[#6D6D6D] font-[600];
}
.fc-header-toolbar.fc-toolbar .fc-toolbar-chunk:last-child {
  @apply bg-[#dfecfe] p-1 rounded-md;
}

/* Inactive Grid Buttoons */
.fc-toolbar-chunk .fc-button-group button.fc-dayGridMonth-button.fc-button,
.fc-toolbar-chunk .fc-button-group button.fc-timeGridWeek-button.fc-button,
.fc-toolbar-chunk .fc-button-group button.fc-timeGridDay-button.fc-button,
.fc-toolbar-chunk .fc-button-group button.fc-listWeek-button.fc-button {
  @apply bg-transparent text-[#6d6d6d] capitalize font-medium border-[#969696] border-none rounded-md text-sm;
}

/* Active Grid Buttons */
.fc-toolbar-chunk .fc-button-group button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active,
.fc-toolbar-chunk .fc-button-group button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active,
.fc-toolbar-chunk .fc-button-group button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active,
.fc-toolbar-chunk .fc-button-group button.fc-listWeek-button.fc-button.fc-button-primary.fc-button-active {
  @apply bg-white font-semibold;
}
button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active:focus,
button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active:focus,
button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active:focus,
button.fc-listWeek-button.fc-button.fc-button-primary.fc-button-active:focus {
  outline: none;
  box-shadow: none;
}

table[role="presentation"] tbody[role="presentation"] tr[role="row"] td[role="gridcell"].fc-day {
  @apply pt-2;
}
table[role="presentation"] tbody[role="presentation"] tr[role="row"] td[role="gridcell"].fc-day.fc-day-today .fc-daygrid-day-frame.fc-scrollgrid-sync-inner .fc-daygrid-day-top {
  @apply px-1;
}
table[role="presentation"]
  tbody[role="presentation"]
  tr[role="row"]
  td[role="gridcell"].fc-day
  .fc-daygrid-day-frame.fc-scrollgrid-sync-inner
  .fc-daygrid-day-top
  a.fc-daygrid-day-number {
  @apply text-[13px];
}
table[role="presentation"] tbody[role="presentation"] tr[role="row"] td[role="gridcell"].fc-day {
  @apply bg-white px-1;
}

/* Day Today Date Active */
table[role="presentation"] tbody[role="presentation"] tr[role="row"] td[role="gridcell"].fc-day.fc-day-today {
  @apply bg-white;
}
table[role="presentation"]
  tbody[role="presentation"]
  tr[role="row"]
  td[role="gridcell"].fc-day.fc-day-today
  .fc-daygrid-day-frame.fc-scrollgrid-sync-inner
  .fc-daygrid-day-top
  a.fc-daygrid-day-number {
  @apply bg-[#559cda] text-white rounded-full px-1.5;
}

table[role="presentation"] tbody[role="presentation"] tr[role="row"] td[role="gridcell"].fc-day.fc-day-today .fc-daygrid-day-frame.fc-scrollgrid-sync-inner .fc-daygrid-day-bag {
  display: none;
}
