:root {
  --color-border: #cccccc;
  --color-header-title: #559cda;
  --color-close-icon: #6d6d6d;
  --color-hover-close-icon: #6d6d6dcc;
  --color-white: #ffff;
  --color-secondary: #559cda;
}

.modalContainer {
  @apply bg-white overflow-hidden relative m-0 p-0  box-border;
  transform: translateY(0) scale(1);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none;
  overflow: hidden;
}

.header {
  @apply flex flex-row border-b border-[var(--color-border)] py-6 px-8 justify-between;
}

.title {
  @apply text-[var(--color-header-title)] font-semibold text-[22px] leading-8 tracking-[-1%];
}
.closeIcon {
  @apply text-[var(--color-close-icon)] hover:text-[var(--color-hover-close-icon)];
}

.body {
  @apply p-8 flex flex-col gap-[10px] overflow-auto;
}
.footer {
  @apply border-t py-6 px-8 flex flex-row justify-end gap-4 items-center;
}
.primaryBtn {
  @apply uppercase py-3 px-8 flex justify-center items-center rounded-[10px] text-[var(--color-white)] font-medium text-base;
  background: linear-gradient(90deg, #559cda 0%, #7badff 24%, #ffb58d 73%, #ed8028 100%);
}
.secondaryBtn {
  @apply uppercase py-3 px-8 flex justify-center items-center rounded-[10px] text-[var(--color-secondary)] font-medium text-base border-2 border-[var(--color-secondary)];
}

@keyframes modalEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalExit {
  0% {
    @apply opacity-100;
    transform: translateY(0) scale(1);
  }
  100% {
    @apply opacity-0;
    transform: translateY(-20px) scale(0.95);
  }
}

.modalContainer {
  animation: modalEnter 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
